<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>RTChat | Create New Room</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
		<style>
			html,
			body {
				height: 100%;
				margin: 0;
			}
			.min-vh-100 {
				min-height: 100vh;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid min-vh-100 d-flex flex-column">
			<div class="row flex-grow-1 justify-content-center align-items-center">
				<div class="col-md-6 col-lg-4 col-sm-10 col-xs-12">
					<div class="text-center mb-5">
						<h1 class="display-1">Create Room</h1>
					</div>
					<div class="mb-3">
						<div class="form-text">Your new room ID is:</div>
						<div class="input-group">
							<input id="room-id-display" class="form-control" type="text" disabled readonly />
							<button class="btn btn-outline-secondary" type="button" id="copy-room-id-button">Copy</button>
						</div>
					</div>
					<div class="form-group">
						<form id="create-form">
							<div class="mb-3">
								<input id="display-name" type="text" class="form-control" placeholder="Display Name" required />
								<div class="form-text">This is what your name will be in chat</div>
								<div class="invalid-feedback">Display name is required!</div>
							</div>
							<div class="mb-5 text-center">
								<button id="create-room" class="w-100 btn btn-primary mt-3">Create Room</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script>
			const displayName = document.getElementById("display-name");
			const createRoom = document.getElementById("create-room");
			const form = document.getElementById("create-form");
			const roomIdDisplay = document.getElementById("room-id-display");

			const userId = "<%- userId %>";
			const roomId = "<%- roomId %>";

			roomIdDisplay.value = roomId;

			createRoom.addEventListener("click", (event) => {
				event.preventDefault();
				event.stopPropagation();

				form.isValid = form.checkValidity();
				form.classList.add("was-validated");

				if (!form.isValid) {
					return;
				}

				const url = new URL(window.location.href);
				url.pathname = `/chat/${roomId}`;
				url.searchParams.append("userId", "<%= userId %>");
				url.searchParams.append("displayName", encodeURIComponent(displayName.value));
				window.location = url;
			});
		</script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	</body>
</html>
