<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>RTChat | ERROR</title>
	</head>
	<body>
		<h1><%= error %></h1>
		<p><a class="link-primary" href="/create">Create Another Room</a></p>
		<p><a class="link-primary" href="/join">Join Different Room</a></p>
	</body>
</html>
