<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
    <title>RTChat | Room</title>
    <link href="/public/bootstrap@5.3.3/css/bootstrap.min.css" rel="stylesheet" />
    <%- include("partials/bootstrap-icons.ejs") %>
    <style>
      html,
      body {
        height: 100%;
      }

      .min-h-0 {
        min-height: 0;
      }

      .h-90pct {
        height: 90%;
      }

      .overf-y-scroll {
        overflow-y: scroll;
      }

      .message {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }

      .message.message-from {
        align-items: start;
      }

      .message.message-to {
        align-items: end;
      }

      .message-from > .message-footer {
        margin-left: 12px;
      }

      .message-to > .message-footer {
        margin-right: 5px;
      }

      .message > .message-body {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        position: relative;
        padding: 10px;
        border-radius: 10px;
      }

      .message.message-to > .message-body {
        background-color: #78e08f;
      }

      .message > .message-footer {
        color: var(--bs-secondary-color);
        /*rgba(42, 41, 41, 0.5);*/
        font-size: 10px;
      }
    </style>
  </head>

  <body>
    <!-- Toast alerts -->
    <div id="toast-container" class="toast-container top-0 end-0 p-2"></div>
    <!-- Navbar -->
    <header class="navbar navbar-expand-lg fixed-top bg-secondary-subtle">
      <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
        <a class="navbar-brand p-0 me-0 me-lg-2" href="/"> RTChat </a>
        <div class="offcanvas-lg offcanvas-end flex-grow-1">
          <div class="offcanvas-body p-4 pt-0 p-lg-0">
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
              <li class="nav-item col-6 col-lg-auto">
                <a class="nav-link py-2 px-0 px-lg-2 active"> First </a>
              </li>
              <li class="nav-item col-6 col-lg-auto">
                <a class="nav-link py-2 px-0 px-lg-2"> Second </a>
              </li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
              <li class="nav-item col-6 col-lg-auto">
                <a class="nav-link py-2 px-0 px-lg-2">
                  <svg id="enable-dark-mode-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-moon fs-3" viewBox="0 0 16 16">
                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                  </svg>
                </a>
              </li>
              <li class="nav-item col-6 col-lg-auto">
                <a class="nav-link py-2 px-0 px-lg-2" href="logout">
                  <button class="btn btn-sm btn-outline-primary" type="button">Logout</button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- MAIN CONTENT -->
    <div class="container h-100 d-flex flex-column" style="padding-top: 4em">
      <div class="row text-center">
        <div class="col">
          <h1><%= name %></h1>
        </div>
      </div>
      <!-- Content Row (main row) -->
      <div class="row g-0 flex-fill min-h-0">
        <div class="col-2 d-flex flex-column rounded-start-5 h-90pct border min-h-0">
          <div class="d-flex justify-content-center align-items-center">
            <p class="fs-2">Members</p>
          </div>
          <div id="left-column-container" class="h-100 overf-y-scroll d-flex justify-content-center align-items-center">
            <div id="loading-members" class="d-none spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
        <!-- Chat Col Content / Right Col -->
        <!--DON'T SET COL WIDTH HERE, SET IT ON THE MAIN CARD CONTAINER-->
        <div class="col mh-100 overf-y-scroll">
          <!-- Nested container to hold chart card -->
          <!-- This mirrors the main structure, but nested in a col -->
          <div class="container-fluid g-0 h-100 d-flex flex-column">
            <div class="row g-0 flex-fill min-h-0">
              <!-- Main Card CONTAINER - SET COL-WIDTH HERE!!! -->
              <div class="col-12">
                <!-- Main Card For Chat Window -->
                <div class="card mh-100 h-90pct">
                  <div id="chat-display" class="card-body mh-100 overf-y-scroll"></div>
                  <div class="card-footer">
                    <div class="input-group">
                      <textarea id="chat-text-input" class="form-control custom-control" rows="3" style="resize: none"></textarea>
                      <button id="send-chat-btn" class="input-group-addon btn btn-lg btn-primary">Send</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 d-flex flex-column rounded-end-5 h-90pct border min-h-0">
          <div class="d-flex justify-content-center align-items-center">
            <p class="fs-2">Rooms</p>
          </div>
          <div id="right-column-container" class="h-100 overf-y-scroll">
            <div class="d-flex h-100 justify-content-center align-items-center">
              <div id="loading-rooms" class="d-none spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script nonce="<%= nonce %>">
      function readCookies() {
        const cookies = {}; // Initialize an empty cookie object
        if (document.cookie) {
          document.cookie.split(";").forEach((cookie) => {
            const [name, value] = cookie.trim().split("=");
            cookies[name] = value;
          });
        }
        return cookies;
      }

      const cookies = readCookies();
      console.log(cookies);

      async function getRooms() {
        try {
          const resp = await fetch(`${window.location.origin}/api/v1/user/rooms`, {
            method: "POST",
          });

          console.log(resp);
        } catch (e) {
          console.log(e);
        }
      }

      (async () => {
        getRooms();

        const fakeContent = `
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
                  <li class="list-group-item">content</li>
            `;
        const rightColumnContainer = document.getElementById("right-column-container");
        //rightColumnContainer.innerHTML = `<div id="members-list" class="list-group list-group-flush overf-y-scroll">${fakeContent}</div>`;
      })();
    </script>
    <script src="/public/bootstrap@5.3.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
