#create-room-modal.modal.fade.modal(tabindex="-1", data-bs-backdrop="static", data-bs-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h1.modal-title.fs-5 Create Room
        button#close-modal-btn.btn-close(tabindex="-1", type="button", data-bs-dismiss="modal")
      .modal-body
        #create-room-alert.alert.d-none.d-flex.flex-row.align-items-center.justify-content-between.mh-100(role="alert")
          i(class="")
          #create-room-alert-message.mb-0.max-h-100px.overf-scroll
          button.btn-close(type="button", data-bs-dismiss="alert", aria-label="Close")
        .form-group
          form#create-room-form
            .form-floating.mb-3
              input#create-room-name-input.form-control(type="text", placeholder="", required)
              label.form-label(for="create-room-name-input") Room Name
              .invalid-feedback Room name is required!
            .form-check
              input#create-room-isprivate-checkbox.form-check-input(type="checkbox", value="")
              label.form-check-label(for="create-room-isprivate-checkbox") Private Room?
      .modal-footer
        button#cancel-create-room-btn.btn.btn-danger(type="button", data-bs-dismiss="modal") Close
        button#create-room-btn.btn.btn-primary(type="button") Create Room
