#join-direct-convo-modal.modal.fade.modal.mh-100(tabindex="-1", data-bs-backdrop="static", data-bs-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h1.modal-title.fs-5 New Direct Message
        button#close-modal-btn.btn-close(tabindex="-1", type="button", data-bs-dismiss="modal")
      .modal-body
        #join-direct-convo-alert.alert.d-none.d-flex.flex-row.align-items-center.justify-content-between.mh-100(role="alert")
          i(class="")
          #join-direct-convo-alert-message.mb-0.max-h-100px.overf-scroll
          button.btn-close(type="button", name="join-direct-convo-close-alert")
        input#join-direct-convo-modal-search-input.form-control(type="text", placeholder="Search People")
        .border.mt-3
          ul#join-direct-convo-modal-people-container.list-group(style="max-height: 35vh; overflow-y: scroll")
      .modal-footer
        button#cancel-join-direct-convo-btn.btn.btn-danger(type="button", data-bs-dismiss="modal") Close
        button#join-direct-convo-btn.btn.btn-primary(type="button") Add
script(type="text/javascript", nonce=nonce).
  let ogPeople = [];
  const dcSearchBar = document.getElementById("join-direct-convo-modal-search-input");
  const dcModal = document.getElementById("join-direct-convo-modal");
  const dcContainer = document.getElementById("join-direct-convo-modal-people-container");

  dcModal.addEventListener("shown.bs.modal", (e) => {
    ogPeople = Array.from(dcContainer.childNodes);
  });

  dcModal.addEventListener("hidden.bs.modal", (event) => {
    dcSearchBar.value = "";
  });

  const dcIgnoredKeys = ["Backspace", "Enter"];
  dcSearchBar.addEventListener("input", (event) => {
    if (dcIgnoredKeys.includes(event.key)) {
      return;
    }
    const value = event.target.value.toLowerCase();
    const found = ogPeople.filter((r) => r.getAttribute("name").toLowerCase().includes(value));
    dcContainer.replaceChildren(...found);
  });
