<div class="modal fade modal-lg" id="create-account-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Create Account</h1>
        <button id="close-modal-btn" tabindex="-1" type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <form id="form">
            <div class="form-floating mb-3">
              <input id="ca-un-input" type="text" class="form-control" placeholder="" required />
              <label for="ca-un-input" class="form-label">Username</label>
              <div class="invalid-feedback">Username is required!</div>
            </div>
            <div class="form-floating mb-3">
              <input id="ca-email-input" type="email" class="form-control" placeholder="" required />
              <label for="ca-email-input" class="form-label">Email</label>
              <div class="form-text">Email is used solely for login purposes. We'll never email you or share your email with anyone else.</div>
              <div class="invalid-feedback">Email is required!</div>
            </div>
            <div class="form-floating mb-3">
              <input id="ca-pw-input" type="password" class="form-control" placeholder="Password" required />
              <label for="ca-pw-input" class="form-label">Password</label>
              <div class="invalid-feedback">Password is required!</div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button id="cancel-btn" type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button id="create-btn" type="button" class="btn btn-primary">Create Account</button>
      </div>
    </div>
  </div>
</div>
