<div class="modal fade modal" id="create-room-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Create Room</h1>
        <button id="close-modal-btn" tabindex="-1" type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <rtc-alert id="create-room-alert"></rtc-alert>
        <div class="form-group">
          <form id="create-room-form">
            <div class="form-floating mb-3">
              <input id="create-room-name-input" type="text" class="form-control" placeholder="" required />
              <label for="create-room-name-input" class="form-label">Room Name</label>
              <div class="invalid-feedback">Room name is required!</div>
            </div>
            <div class="form-check">
              <input id="create-room-isprivate-checkbox" class="form-check-input" type="checkbox" value="" />
              <label class="form-check-label" for="create-room-isprivate-checkbox"> Private Room? </label>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button id="cancel-create-room-btn" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button id="create-room-btn" type="button" class="btn btn-primary">Create Room</button>
      </div>
    </div>
  </div>
</div>
