#create-account-modal.modal.fade.modal-lg(tabindex="-1", data-bs-backdrop="static", data-bs-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h1.modal-title.fs-5 Create Account
        button#close-modal-btn.btn-close(tabindex="-1", type="button", data-bs-dismiss="modal")
      .modal-body
        .form-group
          form#form
            .form-floating.mb-3
              input#ca-un-input.form-control(type="text", required)
              label.form-label(for="ca-un-input") Username
              .invalid-feedback Username is required!
            .form-floating.mb-3
              input#ca-email-input.form-control(type="email", required)
              label.form-label(for="ca-email-input") Email
              .form-text Email is used solely for login purposes. We'll never email you or share your email with anyone else.
              .invalid-feedback Email is required!
            .form-floating.mb-3
              input#ca-pw-input.form-control(type="password", placeholder="Password", required)
              label.form-label(for="ca-pw-input") Password
              .invalid-feedback Password is required!
      .modal-footer
        button#cancel-btn.btn.btn-danger(type="button", data-bs-dismiss="modal") Close
        button#create-btn.btn.btn-primary(type="button") Create Account
