#join-room-modal.modal.fade.modal.mh-100(tabindex="-1", data-bs-backdrop="static", data-bs-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h1.modal-title.fs-5 Join Room
        button#close-modal-btn.btn-close(tabindex="-1", type="button", data-bs-dismiss="modal")
      .modal-body
        #join-room-alert.alert.d-none.d-flex.flex-row.align-items-center.justify-content-between.mh-100(role="alert")
          i(class="")
          #join-room-alert-message.mb-0.max-h-100px.overf-scroll
          button.btn-close(type="button", name="join-room-close-alert")
        input#join-room-modal-search-rooms-input.form-control(type="text", placeholder="Search Rooms")
        .border.mt-3
          ul#join-room-modal-rooms-container.list-group(style="max-height: 35vh; overflow-y: scroll")
      .modal-footer
        button#-cancel-join-room-btn.btn.btn-danger(type="button", data-bs-dismiss="modal") Close
        button#join-room-btn.btn.btn-primary(type="button") Join Room
script(type="text/javascript", nonce=nonce).
  let ogRooms = [];
  const searchBar = document.getElementById("join-room-modal-search-rooms-input");
  const modal = document.getElementById("join-room-modal");
  const container = document.getElementById("join-room-modal-rooms-container");

  modal.addEventListener("shown.bs.modal", (e) => {
    ogRooms = Array.from(container.childNodes);
  });

  modal.addEventListener("hidden.bs.modal", (event) => {
    searchBar.value = "";
  });

  const ignoredKeys = ["Backspace", "Enter"];
  searchBar.addEventListener("input", (event) => {
    if (ignoredKeys.includes(event.key)) {
      return;
    }
    const value = event.target.value.toLowerCase();
    const found = ogRooms.filter((r) => r.getAttribute("name").toLowerCase().includes(value));
    container.replaceChildren(...found);
  });
