<div class="modal fade" id="leave-room-confirmation-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="leave-room-confirmation-modal-body" class="modal-body">Are you sure you want to leave?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="leave-room-confirmation-modal-confirmed-leave-btn" type="button" class="btn btn-danger">Leave Room</button>
      </div>
    </div>
  </div>
</div>
