#leave-room-confirmation-modal.modal.fade(tabindex="-1")
  .modal-dialog
    .modal-content
      .modal-header
        h1#exampleModalLabel.modal-title.fs-5 Confirmation
        button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
      #leave-room-confirmation-modal-body.modal-body Are you sure you want to leave?
      .modal-footer
        button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close
        button#leave-room-confirmation-modal-confirmed-leave-btn.btn.btn-danger(type="button") Leave Room
