extends ./layouts/main.pug

block title
  title RTChat | Error

block content
  .container-fluid.min-vh-100.d-flex.flex-column
    .row.flex-grow-1.justify-content-center
      .col-12
        .text-center
          h1.display-1 Error!
          p ERROR GOESHERE
        .text-center
          p
            a.link-primary(href="/") Home
