<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RTChat | ERROR</title>
    <link href="/public/bootstrap@5.3.3/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid min-vh-100 d-flex flex-column">
      <div class="row flex-grow-1 justify-content-center">
        <div class="col-12">
          <div class="text-center">
            <h1 class="display-1">Error!</h1>
            <p><%= error %></p>
          </div>
          <div class="text-center">
            <p>
              <a class="link-primary" href="/">Home</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
