doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title RTChat | ERROR
    link(href="/public/bootstrap@5.3.3/css/bootstrap.min.css", rel="stylesheet")
  body
    .container-fluid.min-vh-100.d-flex.flex-column
      .row.flex-grow-1.justify-content-center
        .col-12
          .text-center
            h1.display-1 Error!
            p ERROR GOESHERE
          .text-center
            p
              a.link-primary(href="/") Home
