extends ./layouts/main.pug

block title
  title RTChat | See You Next Time!

block content
  .container-fluid.min-vh-100.d-flex.flex-column
    .row.flex-grow-1.justify-content-center
      .col-12
        .text-center
          //- h1.display-1 Goodbye!
          p#logout-message Successfully logged out.
        .text-center
          p
            a.link-primary(href="/") Log back in
