<div id="hamburger-container" class="fixed-top d-xl-none m-3 dropdown">
	<button type="button" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
		<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-list fs-3" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
		</svg>
	</button>
	<ul id="hamburger-menu" class="dropdown-menu p-3">
		<li><button id="hamburger-menu-view-members-btn" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#members-modal">View Members</button></li>
		<li>
			<button id="toggle-dark-mode-hamburger" type="button" class="btn btn-secondary w-100" type="button">
				<svg id="theme-icon-hamburger" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-lightbulb fs-3" viewBox="0 0 16 16">
					<path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5" />
				</svg>
			</button>
		</li>
	</ul>
</div>
<script>
	const html = document.querySelector("html");
	let lsTheme = localStorage.getItem("theme");
	if (!lsTheme) {
		lsTheme = "light";
		localStorage.setItem("theme", lsTheme);
	}
	html.setAttribute("data-bs-theme", localStorage.getItem("theme"));

	const toggleThemeHamburger = document.getElementById("toggle-dark-mode-hamburger");
	const themeIconHamburger = document.getElementById("theme-icon-hamburgger");
	toggleThemeHamburger.addEventListener("click", () => {
		if (localStorage.getItem("theme") === "light") {
			localStorage.setItem("theme", "dark");
			themeIconHamburger.classList.remove("bi-lightbulb-fill");
			themeIconHamburger.classList.add("bi-lightbulb");
		} else {
			localStorage.setItem("theme", "light");
			themeIconHamburger.classList.remove("bi-lightbulb");
			themeIconHamburger.classList.add("bi-lightbulb-fill");
		}
		html.setAttribute("data-bs-theme", localStorage.getItem("theme"));
	});
</script>
