html,
body {
  height: 100%;
  background-color: #eaeaea;
}

.fs-2em {
  font-size: 2em;
}

.min-w-16px {
  min-width: 16px;
}

.max-w-24px {
  max-width: 24px;
}

.max-h-100px {
  max-height: 100px;
}

.max-h-400px {
  max-height: 400px;
}

.max-w-600px {
  max-width: 600px;
}

.min-vh-80 {
  min-height: 80vh;
}

.min-h-0 {
  min-height: 0;
}

.overf-y-scroll {
  overflow-y: scroll;
}

.overf-x-scroll {
  overflow-x: scroll;
}

.overf-scroll {
  overflow: scroll;
}
