doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block title
      title RTChat
    link(href="/public/bootstrap@5.3.3/css/bootstrap.min.css", rel="stylesheet")
    link(href="/public/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css", rel="stylesheet")
    block css

  body
    block content
    script(src="/public/bootstrap@5.3.3/js/bootstrap.bundle.min.js", type="text/javascript")
    script(src="/public/js/CustomAlert.js", type="text/javascript")
    script(src="/public/js/addSpinnerToButton.js", type="text/javascript")
    block scripts
